@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap');
/* Google Fonts Link */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
:root {
    --primary : #0771b9;
    --secondary : #5bc5f3;
}

/* Back To Top Start */
.back_to_top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
}
/* Back To Top End */

/* Welcome Part Start */
.welcome_part {
    background: var(--primary);
}
.welcome_icon li a {
    color: #fff;
}
.welcome_icon li a:hover {
    color: #353535;
}
/* Welcome Part End */

/* Nav Part Start */
.nav-link:focus, .nav-link:hover {
    color: var(--primary);
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 111;
}
.navbar_bg {
    background: var(--primary) !important;
}
.navbar_bg .black_logo {
    display: none;
}
.navbar_bg .white_logo {
    display: block !important;
}
.navbar_bg .nav-link {
    color: #fff;
}
/* Nav Part End */

/* Hero Part Start */
.hero_part {
    background: url(../img/hero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 85px 0;
}
.hero_con h1 {
    font-size: 46px;
    text-transform: uppercase;
}
.hero_con h1:nth-child(1) {
    font-weight: 400;
}
.hero_con p {
    padding: 15px 0;
}
.hero_btn a {
    border-radius: 0;
    background: var(--primary);
    font-family: 'Oswald';
    font-size: 18px;
    text-transform: uppercase;
}
.hero_btn a:hover {
    background: transparent;
    border-color: white;
}
/* Hero Part End */

/* About Part Start */
.about_head {
    padding: 60px 0 40px;
}
.about_head h3 {
    margin-bottom: 0;
    line-height: 0;
    text-transform: uppercase;
    font-weight: 800;
}
.about_con p {
    color: #555;
}
.about_con p:nth-child(1) {
    padding-bottom: 10px;
}
/* About Part End */

/* Service Part Start */

.service_con {
    background: #f1f1f1;
    padding: 50px 20px 20px;
    position: relative;
    transition: .4s;
}
.service_icon {
    height: 80px;
    width: 80px;
    background: #f1f1f1;
    border: 5px double #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
}
.service_con:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.service_con:hover .service_icon {
    background: var(--secondary);
}
/* Service Part End */

/* PortFolio Part Start */
.port_img {
    position: relative;
}
.port_img:hover .port_img_overlay {
    opacity: 1;
}
.port_img_overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .4s;
}
.port_img_overlay a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--secondary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
/* PortFolio Part End */

/* Team Part Start */
.team_img {
    position: relative;
    overflow: hidden;
    transition: .4s;
}
.team_img:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.team_img_overlay {
    height: 100%;
    width: 0%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .4s;
}
.team_img:hover ~ h4 {
    color: var(--secondary);
}
.team_img:hover .team_img_overlay {
    opacity: 1;
    width: 33.33%;
}
.team_img_overlay ul li a {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid white;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 50%;
    transition: .4s;
}
.team_img_overlay ul li a:hover {
    border: 1px solid var(--secondary);
    background: var(--secondary);
}
/* Team Part End */

/* Testimonial Part Start */
.testi_con {
    padding: 20px;
    background: #f1f1f1;
    margin-top: 40px;
    position: relative;
}
.testi_con h4 {
    text-transform: uppercase;
}
.testi_con ul li i {
    color: var(--secondary);
}
.testi_con p {
    font-family: 'Oswald';
    font-size: 18px;
}
.traingle {
    height: 40px;
    width: 40px;
    background: #f1f1f1;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

}
/* Testimonial Part End */

/* Contact Part Start */
.contact_part {
    background: #353535;
    padding: 40px;
    margin-top: 90px;
}
.contact_con .icon {
    height: 40px;
    width: 40px;
    background: var(--secondary);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.contact_con ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    transition: .5s;
}
.contact_con ul li a:hover {
    color: var(--secondary);
}
/* Contact Part End */

/* Footer Part Start */
.footer_part {
    padding: 15px 0;
    background: #555;
}
.footer_con a {
    color: var(--secondary);
    text-decoration: none;
}
/* Footer Part End */

.box {
    height: 150px;
    width: 100%;
    /* background: red; */
}